.selllisttop{
	height:1100px;
	height:35px;
	border-collapse:collapse;
	border:1px solid #2e4da5;
	vertical-align:middle;
}

.selllistmenu{
	display:inline-block;
	width:145px;
	text-align:center;
	vertical-align:middle;
	padding-top:6px;
}